create TRIGGER [dbo].[trigger4]
   ON  [dbo].[tbPRB]
   INSTEAD OF insert
AS 
declare @1 nvarchar(100)
declare @2 FLOAT
declare @3 nvarchar(255)
declare @4 nvarchar(255)
declare @5 NVARCHAR(100)
declare @6 FLOAT
declare @7 FLOAT
declare @8 FLOAT
declare @9 FLOAT
declare @10 FLOAT
declare @11 FLOAT
declare @12 FLOAT
declare @13 FLOAT
declare @14 FLOAT
declare @15 FLOAT
declare @16 FLOAT
declare @17 FLOAT
declare @18 FLOAT
declare @19 FLOAT
declare @20 FLOAT
declare @21 FLOAT
declare @22 FLOAT
declare @23 FLOAT
declare @24 FLOAT
declare @25 FLOAT
declare @26 FLOAT
declare @27 FLOAT
declare @28 FLOAT
declare @29 FLOAT
declare @30 FLOAT
declare @31 FLOAT
declare @32 FLOAT
declare @33 FLOAT
declare @34 FLOAT
declare @35 FLOAT
declare @36 FLOAT
declare @37 FLOAT
declare @38 FLOAT
declare @39 FLOAT
declare @40 FLOAT
declare @41 FLOAT
declare @42 FLOAT
declare @43 FLOAT
declare @44 FLOAT
declare @45 FLOAT
declare @46 FLOAT
declare @47 FLOAT
declare @48 FLOAT
declare @49 FLOAT
declare @50 FLOAT
declare @51 FLOAT
declare @52 FLOAT
declare @53 FLOAT
declare @54 FLOAT
declare @55 FLOAT
declare @56 FLOAT
declare @57 FLOAT
declare @58 FLOAT
declare @59 FLOAT
declare @60 FLOAT
declare @61 FLOAT
declare @62 FLOAT
declare @63 FLOAT
declare @64 FLOAT
declare @65 FLOAT
declare @66 FLOAT
declare @67 FLOAT
declare @68 FLOAT
declare @69 FLOAT
declare @70 FLOAT
declare @71 FLOAT
declare @72 FLOAT
declare @73 FLOAT
declare @74 FLOAT
declare @75 FLOAT
declare @76 FLOAT
declare @77 FLOAT
declare @78 FLOAT
declare @79 FLOAT
declare @80 FLOAT
declare @81 FLOAT
declare @82 FLOAT
declare @83 FLOAT
declare @84 FLOAT
declare @85 FLOAT
declare @86 FLOAT
declare @87 FLOAT
declare @88 FLOAT
declare @89 FLOAT
declare @90 FLOAT
declare @91 FLOAT
declare @92 FLOAT
declare @93 FLOAT
declare @94 FLOAT
declare @95 FLOAT
declare @96 FLOAT
declare @97 FLOAT
declare @98 FLOAT
declare @99 FLOAT
declare @100 FLOAT
declare @101 FLOAT
declare @102 FLOAT
declare @103 FLOAT
declare @104 FLOAT
declare @105 float


select @1 =起始时间,  @2 =周期, @3 =网元名称,  @4=小区,   @5 =小区名,  @6 =[第0个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @7 =[第1个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @8 =[第2个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @9 =[第3个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @10 =[第4个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @11 =[第5个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @12 =[第6个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @13 =[第7个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @14 =[第8个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @15 =[第9个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @16 =[第10个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @17 =[第11个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @18 =[第12个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @19 =[第13个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @20 =[第14个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @21 =[第15个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @22 =[第16个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @23 =[第17个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @24 =[第18个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @25 =[第19个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @26 =[第20个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @27 =[第21个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @28 =[第22个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @29 =[第23个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @30 =[第24个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @31 =[第25个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @32 =[第26个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @33 =[第27个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @34 =[第28个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @35 =[第29个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @36 =[第30个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @37 =[第31个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @38 =[第32个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @39 =[第33个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @40 =[第34个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @41 =[第35个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @42 =[第36个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @43 =[第37个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @44 =[第38个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @45 =[第39个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @46 =[第40个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @47 =[第41个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @48 =[第42个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @49 =[第43个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @50 =[第44个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @51 =[第45个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @52 =[第46个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @53 =[第47个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @54 =[第48个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @55 =[第49个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @56 =[第50个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @57 =[第51个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @58 =[第52个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @59 =[第53个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @60 =[第54个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @61 =[第55个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @62 =[第56个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @63 =[第57个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @64 =[第58个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @65 =[第59个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @66 =[第60个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @67 =[第61个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @68 =[第62个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @69 =[第63个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @70 =[第64个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @71 =[第65个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @72 =[第66个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @73 =[第67个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @74 =[第68个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @75 =[第69个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @76 =[第70个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @77 =[第71个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @78 =[第72个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @79 =[第73个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @80 =[第74个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @81 =[第75个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @82 =[第76个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @83 =[第77个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @84 =[第78个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @85 =[第79个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @86 =[第80个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @87 =[第81个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @88 =[第82个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @89 =[第83个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @90 =[第84个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @91 =[第85个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @92 =[第86个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @93 =[第87个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @94 =[第88个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @95 =[第89个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @96 =[第90个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @97 =[第91个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @98 =[第92个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @99 =[第93个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @100 =[第94个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @101=[第95个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @102 =[第96个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @103 =[第97个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)],  @104 =[第98个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)], @105 =[第99个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)] from inserted
if((select count(*) from tbPRB where 起始时间=@1 AND 小区=@4 )>0)
begin

       UPDATE tbPRB SET 起始时间=  @1,周期= @2,网元名称=  @3,小区=   @4,小区名=  @5,
	   [第0个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @6,[第1个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @7,[第2个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @8,[第3个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @9,[第4个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @10,
	   [第5个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @11,[第6个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @12,[第7个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @13,[第8个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @14,[第9个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @15,[第10个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @16,[第11个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @17,[第12个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @18,[第13个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @19,[第14个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @20,[第15个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @21,[第16个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @22,[第17个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @23,
	   [第18个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @24,[第19个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @25,[第20个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @26,[第21个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @27,[第22个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @28,[第23个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @29,[第24个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @30,[第25个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @31,
	   [第26个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @32,
	   [第27个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @33,[第28个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @34,[第29个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @35,[第30个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @36,[第31个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @37,[第32个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @38,[第33个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @39,[第34个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @40,[第35个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @41,
	   [第36个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @42,[第37个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @43,[第38个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @44,[第39个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @45,[第40个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @46,[第41个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @47,[第42个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @48,[第43个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @49,[第44个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @50,[第45个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @51,[第46个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @52,[第47个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @53,[第48个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @54,[第49个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @55,[第50个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @56,[第51个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @57,[第52个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @58,[第53个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @59,[第54个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @60,[第55个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @61,[第56个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @62,[第57个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @63,[第58个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @64,[第59个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @65,[第60个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @66,[第61个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @67,[第62个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @68,
	   [第63个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @69,[第64个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @70,[第65个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @71,[第66个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @72,[第67个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @73,[第68个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @74,[第69个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @75,[第70个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @76,[第71个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @77,[第72个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @78,[第73个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @79,[第74个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @80,[第75个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @81,[第76个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @82,[第77个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @83,[第78个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @84,[第79个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @85,[第80个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @86,[第81个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @87,[第82个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @88,[第83个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @89,[第84个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @90,[第85个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @91,[第86个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @92,[第87个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @93,[第88个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @94,[第89个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @95,[第90个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @96,[第91个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @97,[第92个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @98,[第93个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @99,[第94个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @100,[第95个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @101,[第96个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @102,[第97个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=  @103,[第98个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]= @104,
	   [第99个PRB上检测到的干扰噪声的平均值 (毫瓦分贝)]=@105 WHERE 起始时间=@1 AND 小区=@4

	   PRINT'UPDATE!'
end
ELSE
INSERT INTO tbPRB VALUES (@1 ,  @2 ,  @3,  @4,  @5,  @6 ,  @7 ,  @8 ,  @9 ,  @10 ,  @11 ,  @12 ,  @13 ,  @14 ,  @15 ,  @16 ,  @17 ,  @18 ,  @19 ,  @20 ,  @21 ,  @22 ,  @23 ,  @24 ,  @25 ,  @26 ,  @27 ,  @28 ,  @29 ,  @30 ,  @31 ,  @32 ,  @33 ,  @34 ,  @35 ,  @36 ,  @37 ,  @38 ,  @39 ,  @40 ,  @41 , @42 ,  @43 ,  @44 ,  @45 ,  @46 ,  @47 ,  @48 ,  @49 ,  @50 ,  @51 ,  @52 ,  @53 ,  @54 ,  @55 ,  @56 ,  @57 ,  @58 ,  @59 ,  @60 ,  @61 ,  @62 ,  @63 ,  @64 ,  @65 ,  @66 ,  @67 ,  @68 ,  @69 ,  @70 ,  @71 ,  @72 ,  @73 ,  @74 ,  @75 ,  @76 ,  @77 ,  @78 ,  @79 ,  @80 ,  @81 ,  @82 ,  @83 ,  @84 ,  @85 ,  @86 ,  @87 ,  @88 ,  @89 ,  @90 ,  @91 ,  @92 ,  @93 ,  @94 ,  @95 ,  @96 ,  @97 ,  @98 ,  @99 ,  @100 ,  @101 ,  @102 ,  @103 ,  @104 ,  @105 )
print 'success!'

