ALTER PROCEDURE [dbo].[intb]
@TB NVARCHAR(255)=null,
@1 nvarchar(100)=null,
@2 nvarchar(255)=null,
@3 nvarchar(255)=null,
@4 nvarchar(255)=null,
 @5 NVARCHAR(100)=null,
 @6 nvarchar(255)=null,
 @7 nvarchar(255)=null,
 @8 nvarchar(255)=null,
 @9 nvarchar(255)=null,
 @10 nvarchar(255)=null,
 @11 nvarchar(255)=null,
 @12 nvarchar(255)=null,
 @13 nvarchar(255)=null,
 @14 nvarchar(255)=null,
 @15 nvarchar(255)=null,
 @16 nvarchar(255)=null,
 @17 nvarchar(255)=null,
 @18 nvarchar(255)=null,
 @19 nvarchar(255)=null,
 @20 nvarchar(255)=null,
 @21 nvarchar(255)=null,
 @22 nvarchar(255)=null,
 @23 nvarchar(255)=null,
 @24 nvarchar(255)=null,
 @25 nvarchar(255)=null,
 @26 nvarchar(255)=null,
 @27 nvarchar(255)=null,
 @28 nvarchar(255)=null,
 @29 nvarchar(255)=null,
 @30 nvarchar(255)=null,
 @31 nvarchar(255)=null,
 @32 nvarchar(255)=null,
 @33 nvarchar(255)=null,
 @34 nvarchar(255)=null,
 @35 nvarchar(255)=null,
 @36 nvarchar(255)=null,
 @37 nvarchar(255)=null,
 @38 nvarchar(255)=null,
 @39 nvarchar(255)=null,
 @40 nvarchar(255)=null,
 @41 nvarchar(255)=null,
 @42 nvarchar(255)=null,
 @43 nvarchar(255)=null,
 @44 nvarchar(255)=null,
 @45 nvarchar(255)=null,
 @46 nvarchar(255)=null,
 @47 nvarchar(255)=null,
 @48 nvarchar(255)=null,
 @49 nvarchar(255)=null,
 @50 nvarchar(255)=null,
 @51 nvarchar(255)=null,
 @52 nvarchar(255)=null,
 @53 nvarchar(255)=null,
 @54 nvarchar(255)=null,
 @55 nvarchar(255)=null,
 @56 nvarchar(255)=null,
 @57 nvarchar(255)=null,
 @58 nvarchar(255)=null,
 @59 nvarchar(255)=null,
 @60 nvarchar(255)=null,
 @61 nvarchar(255)=null,
 @62 nvarchar(255)=null,
 @63 nvarchar(255)=null,
 @64 nvarchar(255)=null,
 @65 nvarchar(255)=null,
 @66 nvarchar(255)=null,
 @67 nvarchar(255)=null,
 @68 nvarchar(255)=null,
 @69 nvarchar(255)=null,
 @70 nvarchar(255)=null,
 @71 nvarchar(255)=null,
 @72 nvarchar(255)=null,
 @73 nvarchar(255)=null,
 @74 nvarchar(255)=null,
 @75 nvarchar(255)=null,
 @76 nvarchar(255)=null,
 @77 nvarchar(255)=null,
 @78 nvarchar(255)=null,
 @79 nvarchar(255)=null,
 @80 nvarchar(255)=null,
 @81 nvarchar(255)=null,
 @82 nvarchar(255)=null,
 @83 nvarchar(255)=null,
 @84 nvarchar(255)=null,
 @85 nvarchar(255)=null,
 @86 nvarchar(255)=null,
 @87 nvarchar(255)=null,
 @88 nvarchar(255)=null,
 @89 nvarchar(255)=null,
 @90 nvarchar(255)=null,
 @91 nvarchar(255)=null,
 @92 nvarchar(255)=null,
 @93 nvarchar(255)=null,
 @94 nvarchar(255)=null,
 @95 nvarchar(255)=null,
 @96 nvarchar(255)=null,
 @97 nvarchar(255)=null,
 @98 nvarchar(255)=null,
 @99 nvarchar(255)=null,
 @100 nvarchar(255)=null,
 @101 nvarchar(255)=null,
 @102 nvarchar(255)=null,
 @103 nvarchar(255)=null,
 @104 nvarchar(255)=null,
 @105 nvarchar(255)=null
AS

BEGIN
IF @TB='tbCell'
begin
declare @CI nvarchar(255)=@1
declare @ID nvarchar(50)=@2
declare @SN nvarchar(255)=@3
declare @EID INT=CAST(@4 as int)
declare @EN NVARCHAR(255)=@5
declare @EA INT=CAST(@6 as int)
declare @PCI INT=CAST(@7 as int)
declare @PSS INT=CAST(@8 as int)
declare @SSS INT=CAST(@9 as int)
declare @TAC INT=CAST(@10 as int)
declare @VD NVARCHAR(255)=@11
declare @LO REAL=CAST(@12 as real)
declare @LA REAL=CAST(@13 as real)
declare @SY NVARCHAR(255)=@14
declare @AZ FLOAT=CAST(@15 as float)
declare @HE FLOAT=CAST(@15 as float)
declare @EL FLOAT=CAST(@15 as float)
declare @ME FLOAT=CAST(@15 as float)
declare @TO FLOAT=CAST(@15 as float)
INSERT INTO tbCell VALUES (@CI ,@ID ,@SN ,@EID , @EN ,@EA ,@PCI ,@PSS ,@SSS ,@TAC ,@VD ,@LO , @LA ,@SY , @AZ , @HE ,@EL ,@ME ,@TO)
end
else if @TB='tbMROData'
begin
declare @TS nvarchar(30)=@1
declare @SS nvarchar(50)=@2
declare @IS nvarchar(50)=@3
declare @LSR FLOAT=cast(@4 as float)
declare @LNR FLOAT=cast(@5 as float)
declare @LNE INT=cast(@6 as int)
declare @LNP SMALLINT=cast(@7 as smallint)
INSERT INTO tbMROData VALUES ( @TS,@SS,@IS ,@LSR , @LNR ,@LNE ,@LNP)
end
else if @TB='tbKPI'
begin
declare @A nvarchar(100)=@1
declare @B FLOAT=CAST(@2 AS FLOAT)
declare @C nvarchar(255)=@3
declare @D nvarchar(255)=@4
declare @E NVARCHAR(100)=@5
declare @F FLOAT=CAST(@6 AS FLOAT)
declare @G FLOAT=CAST(@7 AS FLOAT)
declare @H FLOAT=CAST(@8 AS FLOAT)
declare @I FLOAT=CAST(@8 AS FLOAT)
declare @J FLOAT=CAST(@10 AS FLOAT)
declare @K FLOAT=CAST(@11 AS FLOAT)
declare @L FLOAT=CAST(@12 AS FLOAT)
declare @M FLOAT=CAST(@13 AS FLOAT)
declare @N FLOAT=CAST(@14 AS FLOAT)
declare @O FLOAT=CAST(@15 AS FLOAT)
declare @P FLOAT=CAST(@16 AS FLOAT)
declare @Q FLOAT=CAST(@17 AS FLOAT)
declare @R FLOAT=CAST(@18 AS FLOAT)
declare @S FLOAT=CAST(@19 AS FLOAT)
declare @T FLOAT=CAST(@20 AS FLOAT)
declare @U FLOAT=CAST(@21 AS FLOAT)
declare @V FLOAT=CAST(@22 AS FLOAT)
declare @W FLOAT=CAST(@23 AS FLOAT)
declare @X FLOAT=CAST(@24 AS FLOAT)
declare @Y FLOAT=CAST(@25 AS FLOAT)
declare @Z FLOAT=CAST(@26 AS FLOAT)
declare @AA FLOAT=CAST(@27 AS FLOAT)
declare @AB FLOAT=CAST(@28 AS FLOAT)
declare @AC FLOAT=CAST(@29 AS FLOAT)
declare @AD FLOAT=CAST(@30 AS FLOAT)
declare @AE FLOAT=CAST(@31 AS FLOAT)
declare @AF FLOAT=CAST(@32 AS FLOAT)
declare @AG FLOAT=CAST(@33 AS FLOAT)
declare @AH FLOAT=CAST(@34 AS FLOAT)
declare @AI FLOAT=CAST(@35 AS FLOAT)
declare @AJ FLOAT=CAST(@36 AS FLOAT)
declare @AK FLOAT=CAST(@37 AS FLOAT)
declare @AL FLOAT=CAST(@38 AS FLOAT)
declare @AM FLOAT=CAST(@39 AS FLOAT)
declare @AN FLOAT=CAST(@40 AS FLOAT)
declare @AO FLOAT=CAST(@41 AS FLOAT)
declare @AP FLOAT=CAST(@42 AS FLOAT)
INSERT INTO tbKPI VALUES (@A ,@B ,@C , @D ,  @E ,  @F ,  @G ,  @H ,  @I ,  @J ,  @K ,  @L ,  @M ,  @N ,  @O ,  @P ,  @Q ,  @R ,  @S ,  @T ,  @U ,  @V ,  @W ,  @X ,  @Y ,  @Z ,  @AA ,  @AB ,  @AC ,  @AD ,  @AE ,  @AF ,  @AG ,  @AH ,  @AI ,@AJ ,  @AK ,  @AL ,  @AM ,  @AN ,  @AO ,  @AP )
end
else IF @TB='tbPRB'
begin
set @1 =@1 
set @2 =cast(@2 as float)
set @3 =@3
set @4 =@4
set @5 =@5
set @6 =cast(@6 as float)
set @7 =cast(@7 as float)
set @8 =cast(@8 as float)
set @9 =cast(@9 as float)
set @10 =cast(@10 as float)
set @11 =cast(@11 as float)
set @12 =cast(@12 as float)
set @13 =cast(@13 as float)
set @14 =cast(@14 as float)
set @15 =cast(@15 as float)
set @16 =cast(@16 as float)
set @17 =cast(@17 as float)
set @18 =cast(@18 as float)
set @19 =cast(@19 as float)
set @20 =cast(@20 as float)
set @21 =cast(@21 as float)
set @22 =cast(@22 as float)
set @23 =cast(@23 as float)
set @24 =cast(@24 as float)
set @25 =cast(@25 as float)
set @26 =cast(@26 as float)
set @27 =cast(@27 as float)
set @28 =cast(@28 as float)
set @29 =cast(@29 as float)
set @30 =cast(@30 as float)
set @31 =cast(@31 as float)
set @32 =cast(@32 as float)
set @33 =cast(@33 as float)
set @34 =cast(@34 as float)
set @35 =cast(@35 as float)
set @36 =cast(@36 as float)
set @37 =cast(@37 as float)
set @38 =cast(@38 as float)
set @39 =cast(@39 as float)
set @40 =cast(@40 as float)
set @41 =cast(@41 as float)
set @42 =cast(@42 as float)
set @43 =cast(@43 as float)
set @44 =cast(@44 as float)
set @45 =cast(@45 as float)
set @46 =cast(@46 as float)
set @47 =cast(@47 as float)
set @48 =cast(@48 as float)
set @49 =cast(@49 as float)
set @50 =cast(@50 as float)
set @51 =cast(@51 as float)
set @52 =cast(@52 as float)
set @53 =cast(@53 as float)
set @54 =cast(@54 as float)
set @55 =cast(@55 as float)
set @56 =cast(@56 as float)
set @57 =cast(@57 as float)
set @58 =cast(@58 as float)
set @59 =cast(@59 as float)
set @60 =cast(@60 as float)
set @61 =cast(@61 as float)
set @62 =cast(@62 as float)
set @63 =cast(@63 as float)
set @64 =cast(@64 as float)
set @65 =cast(@65 as float)
set @66 =cast(@66 as float)
set @67 =cast(@67 as float)
set @68 =cast(@68 as float)
set @69 =cast(@69 as float)
set @70 =cast(@70 as float)
set @71 =cast(@71 as float)
set @72 =cast(@72 as float)
set @73 =cast(@73 as float)
set @74 =cast(@74 as float)
set @75 =cast(@75 as float)
set @76 =cast(@76 as float)
set @77 =cast(@77 as float)
set @78 =cast(@78 as float)
set @79 =cast(@79 as float)
set @80 =cast(@80 as float)
set @81 =cast(@81 as float)
set @87 =cast(@82 as float)
set @83 =cast(@83 as float)
set @84 =cast(@84 as float)
set @85 =cast(@85 as float)
set @86 =cast(@86 as float)
set @87 =cast(@87 as float)
set @88 =cast(@88 as float)
set @89 =cast(@89 as float)
set @90 =cast(@90 as float)
set @91 =cast(@91 as float)
set @92 =cast(@92 as float)
set @93 =cast(@93 as float)
set @94 =cast(@94 as float)
set @95 =cast(@95 as float)
set @96 =cast(@96 as float)
set @97 =cast(@97 as float)
set @98 =cast(@98 as float)
set @99 =cast(@99 as float)
set @100 =cast(@100 as float)
set @101 =cast(@101 as float)
set @102 =cast(@102 as float)
set @103 =cast(@103 as float)
set @104 =cast(@104 as float)
set @105 =cast(@105 as float)
INSERT INTO tbPRB VALUES (@1 ,  @2 ,  @3,  @4,  @5,  @6 ,  @7 ,  @8 ,  @9 ,  @10 ,  @11 ,  @12 ,  @13 ,  @14 ,  @15 ,  @16 ,  @17 ,  @18 ,  @19 ,  @20 ,  @21 ,  @22 ,  @23 ,  @24 ,  @25 ,  @26 ,  @27 ,  @28 ,  @29 ,  @30 ,  @31 ,  @32 ,  @33 ,  @34 ,  @35 ,  @36 ,  @37 ,  @38 ,  @39 ,  @40 ,  @41 , @42 ,  @43 ,  @44 ,  @45 ,  @46 ,  @47 ,  @48 ,  @49 ,  @50 ,  @51 ,  @52 ,  @53 ,  @54 ,  @55 ,  @56 ,  @57 ,  @58 ,  @59 ,  @60 ,  @61 ,  @62 ,  @63 ,  @64 ,  @65 ,  @66 ,  @67 ,  @68 ,  @69 ,  @70 ,  @71 ,  @72 ,  @73 ,  @74 ,  @75 ,  @76 ,  @77 ,  @78 ,  @79 ,  @80 ,  @81 ,  @82 ,  @83 ,  @84 ,  @85 ,  @86 ,  @87 ,  @88 ,  @89 ,  @90 ,  @91 ,  @92 ,  @93 ,  @94 ,  @95 ,  @96 ,  @97 ,  @98 ,  @99 ,  @100 ,  @101 ,  @102 ,  @103 ,  @104 ,  @105 )
end
	
END
